  /* Estilos principais */
  .container {
    background-color: rgb(142, 134, 246);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 18px;
    color: #555;
    font-family: 'Arial', sans-serif;
  }
  
  .loading .spinner {
    width: 16px;
    height: 16px;
    border: 3px solid rgba(0, 0, 0, 0.2);
    border-top: 3px solid #555;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin-right: 10px;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  