  /* Estilos principais */
  .container {
    background-color: rgb(142, 134, 246);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }